<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>西沙群岛</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Stylesheets -->
	<!-- Dropdown Menu -->
	<link rel="stylesheet" href="css/superfish.css">
	<!-- Owl Slider -->
	<!-- <link rel="stylesheet" href="css/owl.carousel.css"> -->
	<!-- <link rel="stylesheet" href="css/owl.theme.default.min.css"> -->
	<!-- Date Picker -->
	<link rel="stylesheet" href="css/bootstrap-datepicker.min.css">
	<!-- CS Select -->
	<link rel="stylesheet" href="css/cs-select.css">
	<link rel="stylesheet" href="css/cs-skin-border.css">

	<!-- Themify Icons -->
	<link rel="stylesheet" href="css/themify-icons.css">
	<!-- Flat Icon -->
	<link rel="stylesheet" href="css/flaticon.css">
	<!-- Icomoon -->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">
	
	<!-- Style -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
    [v-cloak]{
        display: none;
    }
    table{
        width: 800px;
        border-collapse: collapse;
        margin: 20px auto;
    }
    table th,table td{
        background: #0094ff;
        color: white;
        font-size: 16px;
        padding: 5px;
        text-align: center
       
    }
    table td{
        background: #fff;
        color: red;
    }
</style>
	<style>
		table {
    
}
table {
    width: 100%;
}

th {
    height: 50px;
}
th, td {
    border-bottom: 1px solid #ddd;
}
	</style>
	<script>
		$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) 
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
	</script>
</head>
<body>
	<div id="fh5co-wrapper">
	<div id="fh5co-page">
	<div id="fh5co-header">
		<header id="fh5co-header-section">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
					<h1 id="fh5co-logo"><a href="index.html">会员中心</a></h1>
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a class="active" href="index.html">网站首页</a></li>
							<li><a href="hotel.html">订房订门票</a></li>
							<li><a href="services.html">特产买卖</a></li>
							<li><a href="blog.html">代买烧烤</a></li>
							<li><a href="旅游线路.html">旅游线路推荐</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
	</div>
	<!-- end:fh5co-header -->
	<div class="fh5co-parallax" style="background-image: url(images/3.jpg);background-size:100% 70%" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">Choose and Trust us.</h1>
						<p>最便利的活动送给你们，最艰难的工作留给我们</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-hotel-section">
		<div class="container">
			<div class="row">
			<div class="col-md-12">
					<div class="section-title text-center">
						<h2>预定房间</h2>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hotel-content">
						<div class="hotel-grid" style="background-image: url(images/image-1.jpg);">
							<div class="price"><small>最低</small><span>￥199/天</span></div>
							<a class="book-now text-center" href="#"><i class="ti-calendar"></i> 立即预定</a>
						</div>
						<div class="desc">
							<h3><a href="#">商务单人大床房</a></h3>
							<p>
								一张多用桌子和椅子、一个衣橱、一台电视，好一点的会配置网络，配有洗手间。

							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hotel-content">
						<div class="hotel-grid" style="background-image: url(images/image-2.jpg);">
							<div class="price"><small>最低</small><span>￥199/天</span></div>
							<a class="book-now text-center" href="#"><i class="ti-calendar"></i> 立即预定</a>
						</div>
						<div class="desc">
							<h3><a href="#">商务双人标间</a></h3>
							<p>
								适合住两位客人和夫妻同住，也适合旅游团体住用。配有洗手间。

							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hotel-content">
						<div class="hotel-grid" style="background-image: url(images/image-3.jpg);">
							<div class="price"><small>最低</small><span>￥199/天</span></div>
							<a class="book-now text-center" href="#"><i class="ti-calendar"></i> 立即预定</a>
						</div>
						<div class="desc">
							<h3><a href="#">精品家庭套间</a></h3>
							<p>
								 套房由两个房间组成。外面的房间为客厅，里面的为卧房。卧房是客人睡觉的地方，其配置与双床间或双人间相同。客厅有沙发、茶几等，可供客人休息或进行会客接待。
							</p>	
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hotel-content">
						<div class="hotel-grid" style="background-image: url(images/image-4.jpg);">
							<div class="price"><small>最低</small><span>￥199/天</span></div>
							<a class="book-now text-center" href="#"><i class="ti-calendar"></i> 立即预定</a>
						</div>
						<div class="desc">
							<h3><a href="#">温馨情侣套间</a></h3>
							<p>
								这是套间的介绍这是套间的介绍这是套间的介绍这是套间的介绍
								这是套间的介绍这是套间的介绍这是套间的介绍这是套间的介绍
							</p>	
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hotel-content">
						<div class="hotel-grid" style="background-image: url(images/image-5.jpg);">
							<div class="price"><small>最低</small><span>￥199/天</span></div>
							<a class="book-now text-center" href="#"><i class="ti-calendar"></i> 立即预定</a>
						</div>
						<div class="desc">
							<h3><a href="#">单人标间</a></h3>
							<p>
								宽带:免费有线宽带上网,免费WIFI上网，日常用品配置:1条浴巾、1条地巾、1个棉芯枕头、1个荞麦枕头
							</p>	
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="hotel-content">
						<div class="hotel-grid" style="background-image: url(images/image-6.jpg);">
							<div class="price"><small>最低</small><span>￥199/天</span></div>
							<a class="book-now text-center" href="#"><i class="ti-calendar"></i> 立即预定</a>
						</div>
						<div class="desc">
							<h3><a href="#">双人标间</a></h3>
							<p>
								宽带:免费有线宽带上网,免费WIFI上网，日常用品配置:免费提供瓶装水1瓶、生活用品包1套(含洗漱套装1套、洗发水1袋、沐浴露1袋)、每房按实际登记人数赠送(多2份)
							</p>	
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div id="fh5co-hotel-section">
		<div class="container">
			<div class="row">
			<div class="col-md-12">
					<div class="section-title text-center">
						<h2>门票</h2>
					</div>
				</div>
				

			</div>
			 <div class="col-sm-12">
  <div id="app">
  
  	<hr>
  
    <h2>门票信息</h2>
    <hr>
    <table>
        <tr style="font-family: '微软雅黑';">
            <th>名称</th>
            <th>供应商</th>
            <th>提前预定时间</th>
            <th>价格</th>
            <th>支付方式</th>
            <th>操作</th>
        </tr>
        <tr v-if="list.length == 0">
            <td colspan="4">当前列表无数据</td>
        </tr>
        <tr v-for="(item,index) in list">
            <td style="color: #000000;">
            		<button type="button" class="btn btn-success" title="包含项目"  
			data-container="body" data-toggle="popover" data-placement="bottom" 
			data-content="证件入园---------长乐公主/南海之梦游轮包含内舱六人间下铺费用">
            	{{item.id}}</button>
            </td>
            <td style="color:  #000000;">{{item.pname}}</td>
            <td style="color: #000000;">{{item.ctime}}</td>
            <td style="color:#red">{{item.p}}</td>
            <td style="color: #000000;">{{item.Email}}</td>
            <td>
                <!-- 方法一 -->
                <!-- <a href="#" @click="delData(index)">删除</a> -->
                <!-- 方法二 -->
                <a href="#">预定</a>
            </td>
        </tr>
        
    </table>
  <script>
$(function () { 
	$("[data-toggle='popover']").popover();
});
</script>
   
</div>

 </div>
		</div>
	</div>
	

		<footer id="footer" class="fh5co-bg-color">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="copyright">
						<p style="text-align: center;">&copy; 2019  All Rights Reserved. 
						</p>
						<img src="images/logo.png" style="width: 350px;" />
					</div>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-3">
							<h3>公益模块</h3>
							<ul class="link">
								<li><a href="index.html">公益模块</a></li>
								<li><a href="#">志愿者服务</a></li>
								<li><a href="#">招聘信息</a></li>
								<li><a href="#">本地导游招募</a></li>
								
							</ul>
						</div>
						<div class="col-md-3">
							<h3>会员中心</h3>
							<ul class="link">
								<li><a>旅游线路定制</a></li>
								<li><a href="hotel.index">订房门票</a></li>
								<li><a>特产买卖</a></li>
								<li><a>烧烤服务</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<h3>订阅</h3>
							<p>
								特色服务和齐全的设施等着你的到来
							</p>
							<form action="#" id="form-subscribe">
								<div class="form-field">
									<input type="email" placeholder="邮箱" id="email">
									<input type="submit" id="submit" value="发送">
								</div>
							</form>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</footer>

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->
	
	<!-- Javascripts -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<!-- Dropdown Menu -->
	<script src="js/hoverIntent.js"></script>
	<script src="js/superfish.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Owl Slider -->
	<!-- // <script src="js/owl.carousel.min.js"></script> -->
	<!-- Date Picker -->
	<script src="js/bootstrap-datepicker.min.js"></script>
	<!-- CS Select -->
	<script src="js/classie.js"></script>
	<script src="js/selectFx.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>

	<script src="js/custom.js"></script>

</body>
<script type="text/javascript">
		  var vm = new Vue({
        el: '#app',
        data: {
            
            pname: '',
            list: [
                {id: '内舱六人间-上铺', pname: '海南观光国际旅行社', ctime:'提前3天可订',p:'¥4265',Email:'在线支付'},
                {id: '内舱六人间-上铺', pname: '海南观光国际旅行社', ctime:'提前3天可订',p:'¥4265',Email:'在线支付'},
                {id: '内舱六人间-上铺', pname: '海南观光国际旅行社', ctime:'提前3天可订',p:'¥4265',Email:'在线支付'},
                {id: '内舱六人间-上铺', pname: '海南观光国际旅行社', ctime:'提前3天可订',p:'¥4265',Email:'在线支付'},
                {id: '内舱六人间-上铺', pname: '海南观光国际旅行社', ctime:'提前3天可订',p:'¥4265',Email:'在线支付'},
                {id: '内舱六人间-上铺', pname: '海南观光国际旅行社', ctime:'提前3天可订',p:'¥4265',Email:'在线支付'},
                {id: '内舱六人间-上铺', pname: '海南观光国际旅行社', ctime:'提前3天可订',p:'¥4265',Email:'在线支付'},
                {id: '内舱六人间-上铺', pname: '海南观光国际旅行社', ctime:'提前3天可订',p:'¥4265',Email:'在线支付'},
              
        
           
                
            ]
        },
        methods: {
            addData(){
                // 包装成list要求的对象
                var p = {id: this.id, pname: this.pname, ctime: this.ctime,p:this.p,Email:this.Email}
                this.list.push(p);
                // 清空文本框中的数据
                this.id =  0;
                this.pname = '';
                this.p='';
                this.Email='';
                this.ctime='';
            },
          
        }
    });
</script>
</html>